src/main/resources/open_weather.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="OW-SOAP"
                  targetNamespace="http://atos.net/weather_soap"
                  xmlns:tns="http://atos.net/weather_soap"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://atos.net/weather_soap">

            <xsd:complexType name="getWeather">
                <xsd:sequence>
                    <xsd:element name="getWeather" nillable="true"
                                 type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="getResponse">
                <xsd:sequence>
                    <xsd:element name="getResponse" nillable="true"
                                 type="tns:OpenWeather" maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OpenWeather">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="all" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="temp" type="xsd:float"/>
                    <xsd:element minOccurs="0" name="tempCelsius" type="xsd:float"/>
                    <xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="icon" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getWeather" type="tns:getWeather"/>
            <xsd:element name="getResponse" type="tns:getResponse"/>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getWeather">
        <wsdl:part name="parameters" element="tns:getWeather"/>
    </wsdl:message>
    <wsdl:message name="getResponse">
        <wsdl:part name="parameters" element="tns:getWeather"/>
    </wsdl:message>

    <wsdl:portType name="OpenWeatherPortType">
        <wsdl:operation name="getWeather">
            <wsdl:input message="tns:getWeather">
            </wsdl:input>
            <wsdl:output message="tns:getResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding
            name="OpenWeatherBinding"
            type="tns:OpenWeatherPortType">

        <soap12:binding style="document"
                        transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getWeather">
            <soap12:operation
                    soapAction="http://atos.net/weather_soap/getWeather"/>
            <wsdl:input>
                <soap12:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="OpenWeatherService">
        <wsdl:port name="OpenWeatherServiceSOAP"
                   binding="tns:OpenWeatherBinding">
            <soap12:address
                    location="/soap" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>